.banana {
  display: flex;
}
.box {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
  text-align: center;
  /* justify-content: center; */
}
.item {
  color: blue;
}
.block-demo {
  background-color: blue;
}

.field {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.col {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#lname {
    margin-bottom: 20px;
}

#email-help {
    font-size: 12px;
    color: grey;
    margin: 0;
}
